@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";

.NavbarBackground {
  width: 100%;
  background-color: $navbarBackground;
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: 1000;
}

.Navbar {
  max-width: 1920px;
  height: 40px;
  background-color: $navbarBackground;
  color: $navbarFontColor;
}

.Logo {
  letter-spacing: 8px;
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 1px 1px 4px $navbarIconColor, 1px 1px 3px $navbarIconColor;
  transition: all 0.2s ease-in-out;
}

.Logo:hover {
  letter-spacing: 10px;
}

.NavItem {
  height: 40px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 8px;
  transition: all 0.1s ease-in-out;
}

.NavItem:hover {
  border-bottom: 4px solid $navbarIconColor;
  cursor: pointer;
}

.NavProfileImage {
  border-radius: 100%;
  width: 42px;
  height: 42px;
}

.LinkNavSection {
  width: 42%;

  a {
    color: $navbarIconColor;
  }

  span {
    color: white;
  }
}

.LogoNavSection {
  width: 16%;
  height: 48px;
  border-radius: 10px;
  background-color: $navbarBackground;
  padding: 6px 0px 0px 0px;
  transition: all 0.2s ease-in-out;
}

.LogoNavSection:hover {
  cursor: pointer;
  border-bottom: 4px solid $navbarIconColor;
}

.ProfileNavSection {
  width: 42%;

  .ProfileNavItem {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 8px;
  }
}

.NavItemIcon {
  padding-top: 8px;
}

.DropdownNavItem {
  opacity: 0;
  transition: all 0.4s ease-in-out;

  a {
    color: $navbarIconColor;
  }

  span {
    color: white;
  }
}

.PlayerNavDropdown {
  float: right;
  height: 0px;
  width: 160px;
  background-color: $navbarBackground;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.PlayerNavDropdownActive {
  opacity: 100%;
  height: 220px;
  // .DropdownNavItem {
  //   opacity: 100%;
  // }
}
