@import "../../scss/fonts.scss";
@import "../../scss/colors.scss";
@import "../../scss/styles.scss";

.CardHeader {
  font-family: $gameTitleFont;
  color: whitesmoke;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.932) 0px 0px 22px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(26, 26, 32);
}

.BannerCardContainer {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  height: 180px;
  width: 100%;
}

.GameCardContainer {
  padding-left: 8px;
  padding-right: 8px;
  height: 200px;
  width: 360px;
}

.ContentContainer {
  position: relative;
}

.BannerContentContainer {
  height: 152px;
  width: 100%;
}

.CardContentContainer {
  height: 172px;
  width: 360px;
}

.Game {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-align: center;
  background-size: cover;
}

.GameCard {
  padding-top: 60px;
  border-radius: 6px;
  box-shadow: $deepBoxShadow;
}

.BannerGameCard {
  padding-top: 52px;
  border-radius: 0px;
}

.GameCardBottomBar {
  width: 360px;
  height: 48px;
  text-align: center;

  div {
    border-radius: 20px;
    background-color: $pillBackground;
    width: 90px;
    box-shadow: $subtleBoxShadow;
    color: $sectionHeader;
  }
}

.Overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.075);
}

.BannerGameCardOverlay {
  border-radius: 0px;
  border: 6px solid $bodyHeaderColor;
  transition: all 0.2s ease-in-out;
}

.BannerGameCardOverlay:hover {
  cursor: pointer;
  opacity: 1;
}

.GameCardOverlay {
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow, opacity 0.2s ease-in-out;
}

.GameCardOverlay:hover {
  cursor: pointer;
  box-shadow: $deepBoxShadowHover;
  opacity: 1;
}
