@import "./common/scss/colors.scss";
@import "./common/scss/fonts.scss";

a {
  color: $anchorTagColor;
  font-family: $bodyFont;
  text-decoration: unset;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: $anchorTagColorHover;
  text-decoration: unset;
}

.AppSectionHeader {
  font-size: 24px;
  color: $sectionHeader;
  text-shadow: 1px 1px 1px $navbarIconColor, 1px 1px 1px $navbarIconColor;
  letter-spacing: 2px;
}
