$background: rgb(233, 235, 255); //rgb(214, 218, 241);
$backgroundHR: rgb(199, 201, 211);
$bodyFontColor: rgb(18, 19, 20);
$bodyHeaderColor: rgb(43, 145, 212);
$bodyHeaderColorHover: rgb(64, 170, 240);
$bodyHeaderColorTransparent1: rgba(43, 145, 212, 0.5);
$bodyHeaderColorTransparent3: rgba(43, 145, 212, 0.1);
$bodyNavArrowColor: rgb(51, 53, 58);

$jumbotronBackground: rgb(214, 218, 241); //rgb(193, 198, 223);
$jumbotronHeaderColor: rgb(43, 145, 212);
$jumbotronHeaderColorTransparent1: rgba(43, 145, 212, 0.5);
$jumbotronHeaderColorTransparent2: rgba(43, 145, 212, 0.25);
$jumbotronHeaderColorTransparent3: rgba(43, 145, 212, 0.1);
$jumbotronSubHeaderColor: rgb(29, 145, 223);

$cardBackground: rgb(223, 226, 247);
$pillBackground: rgb(230, 232, 251);

$sectionBackground: rgb(215, 218, 235);
$sectionHeader: rgb(58, 60, 65);

$anchorTagColor: rgb(115, 82, 204);
$anchorTagColorHover: rgb(134, 96, 238);

$tableHeaderBackground: $bodyHeaderColorTransparent3;

$navbarBackground: $sectionHeader;
$navbarFontColor: rgb(231, 231, 231);
$navbarFontColorLight1: rgb(245, 245, 245);
$navbarIconColor: rgb(43, 145, 212);
$navbarIconColorLight1: rgb(45, 154, 226);
$navbarIconColorHover: $jumbotronHeaderColorTransparent1;
