$subtleBoxShadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
$subtleBoxShadowHover: rgba(9, 30, 66, 0.25) 0px 6px 12px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
$deepBoxShadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
  rgba(17, 17, 26, 0.05) 0px 8px 32px;

$deepBoxShadowHover: rgba(17, 17, 26, 0.1) 0px 6px 22px,
  rgba(17, 17, 26, 0.05) 0px 12px 36px;
