@import "../common/scss/colors.scss";
@import "../common/scss/fonts.scss";
@import "../common/scss/styles.scss";

.DarkHR {
  height: 1px;
  border: none;
  background-color: rgb(37, 37, 83);
  margin: 20px;
}

.LightGradientHR {
  height: 3px;
  border: none;
  background: rgb(189, 197, 213);
  background: linear-gradient(
    90deg,
    $bodyHeaderColor 17%,
    rgba(0, 0, 0, 0) 100%
  );
  margin: 8px 0px 12px 0px;
}

.ProfileJumbotronBackground {
  padding-top: 32px;
  width: 100%;
  background-color: $jumbotronBackground;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ProfileJumbotron {
  max-width: 1920px;
  font-family: $jumbotronHeader;

  h1 {
    color: $jumbotronHeaderColor;
    font-family: $jumbotronHeader;
    font-size: 56px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253), 1px 1px 2px rgb(0, 0, 0.253);
  }

  h6 {
    color: rgb(22, 22, 22);
  }

  h2 {
    color: $jumbotronSubHeaderColor;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253), 1px 1px 2px rgb(0, 0, 0.253);
    padding-top: 4px;
  }
}

.JumbotronSubheaderContainer {
  padding-left: 8%;
  padding-right: 8%;
}

.ProfileImageContainer {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: solid 7px rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.ProfileImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  // border: solid 7px rgb(0, 0, 0);
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ProfileImageOverlay {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: solid 7px rgb(0, 0, 0);
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
}

.ProfileImageOverlay:hover {
  opacity: 1;
}

.HideNotificationsButton {
  text-transform: uppercase;
  color: white;
  background-color: $bodyHeaderColor;
  border: none;
  border-radius: 12px;
  padding: 6px 32px;
  transition: background-color 0.2s ease-in-out;
  outline: none;
}

.HideNotificationsButton:focus {
  outline: none;
  border: none;
}

.HideNotificationsButton:hover {
  background-color: $bodyHeaderColorHover;
}

.HideNotificationsSepLeft {
  height: 2px;
  background: $backgroundHR;
  background: linear-gradient(270deg, $backgroundHR 50%, rgba(0, 0, 0, 0) 100%);
}

.HideNotificationsSepRight {
  height: 2px;
  background: $backgroundHR;
  background: linear-gradient(90deg, $backgroundHR 50%, rgba(0, 0, 0, 0) 100%);
}

.LeaderboardSection {
  background-color: $background;
  border-radius: 10px;
  padding: 0 0 20px 0;
  box-shadow: $subtleBoxShadow;
}

.HideNotificationsSection {
  position: relative;
  top: -42px;
  height: 0px;

  .HideNotificationsButton {
    position: relative;
    top: 0px;
  }

  .HideNotificationsSepLeft {
    position: relative;
    top: 0px;
  }

  .HideNotificationsSepRight {
    position: relative;
    top: 0px;
  }
}
