.GamepadHeader {
  text-align: center;
  color: whitesmoke;
  font-size: 72px;
}

.SectionHeader {
  margin-top: 62px;
}

.NoCardsSlide {
  text-align: center;

  h3 {
    color: whitesmoke;
    font-style: italic;
  }
}
